# Exploratory Data Analysis (EDA)

Exploratory Data Analysis (EDA) is a critical step in understanding the characteristics of your dataset. It involves analyzing and visualizing the data to gain insights into its structure, relationships, and patterns.

# Importing Libraries

To perform linear regression, we need to import the following libraries:

- **NumPy**: NumPy is a powerful library for numerical computing in Python. It provides support for arrays, matrices, and mathematical functions.
- **Pandas**: Pandas is a data manipulation library that provides data structures like DataFrame, which is particularly useful for handling structured data.
- **Matplotlib**: Matplotlib is a plotting library that allows us to create various types of plots, such as line plots, scatter plots, and histograms.
- **Seaborn**: Seaborn is a statistical data visualization library based on Matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.
- **Scikit-learn**: Scikit-learn is a machine learning library that provides various tools for data mining and data analysis. It includes support for various machine learning algorithms, including linear regression.

``` python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
data_path = './data/smartwatches.csv'

In [3]:
df = pd.read_csv(data_path)

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.head()

,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

In [6]:
df.shape

(450, 16)

# Splitting Data into Training and Testing Sets

Before building our linear regression model, it's essential to split our dataset into training and testing sets. This allows us to train the model on one portion of the data and evaluate its performance on another unseen portion. The common practice is to use a larger portion of the data for training and a smaller portion for testing.

We can use the `train_test_split` function from the Scikit-learn library to accomplish this. This function randomly splits the dataset into training and testing sets based on a specified ratio.

``` python
from sklearn.model_selection import train_test_split

# Splitting the dataset into features (X) and target variable (y)

# Splitting the data into 80% training and 20% testing
- Train Data(360, 16) 
- Test Data (90, 16)

In [7]:
train_df = df.sample(frac=0.8, random_state=42)
# train_df = df.sample(frac=0.8, random_state=42)
# test_df = df.drop(train_df.index)

In [8]:
train_df = train_df.reset_index()

In [9]:
test_df = df.drop (train_df.index)

In [10]:
# train_df = test_df.reset_index()

In [11]:
print(train_df.shape , test_df.shape)

(360, 17) (90, 16)

In [12]:
train_df.tail()

,index,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
355,216,216,fitbit,11699.0,14999.0,22.001467,4.3,3999.0,Versa 2,Square,Black,Silicon,Yes,3.5,Yes,1.3 inches,20 - 35 g
356,279,279,garmin,39490.0,44990.0,12.224939,4.7,109.0,"Instinct 2, Rugged Outdoor Watch with GPS, Bui...",Circle,Grey,Silicon,No,17.5,Yes,0.9 inches,NaN
357,390,390,zebronics,2199.0,4999.0,56.011202,3.9,272.0,Zeb-Fit Me,Square,Green,Thermo Plastic Polyurethene,Yes,22.0,Yes,3.3 inches,20 - 35 g
358,337,337,gizmore,1199.0,4499.0,73.349633,4.7,NaN,GizFit CLOUD 1.85 IPS Large Display | AI Voice...,Square,Blue,Silicon,Yes,22.0,Yes,1.8 inches,20 - 35 g
359,236,236,fitbit,20499.0,NaN,NaN,4.7,NaN,Fitbit Versa 4 Fitness Watch (Waterfall Blue /...,Curved,Blue,Rubber,Yes,22.0,Yes,0.2 inches,NaN

In [13]:
train_df.dtypes

index                    int64
Unnamed: 0               int64
Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Model Name              object
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen             object
Battery Life (Days)    float64
Bluetooth               object
Display Size            object
Weight                  object
dtype: object

In [14]:
train_df.isna().sum()

index                    0
Unnamed: 0               0
Brand                    0
Current Price            6
Original Price          56
Discount Percentage     56
Rating                   4
Number OF Ratings       45
Model Name              30
Dial Shape             100
Strap Color            100
Strap Material          56
Touchscreen             31
Battery Life (Days)     30
Bluetooth                5
Display Size            27
Weight                 149
dtype: int64

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                360 non-null    int64
 1   Unnamed: 0           360 non-null    int64
 2   Brand                360 non-null    object
 3   Current Price        354 non-null    float64
 4   Original Price       304 non-null    float64
 5   Discount Percentage  304 non-null    float64
 6   Rating               356 non-null    float64
 7   Number OF Ratings    315 non-null    float64
 8   Model Name           330 non-null    object
 9   Dial Shape           260 non-null    object
 10  Strap Color          260 non-null    object
 11  Strap Material       304 non-null    object
 12  Touchscreen          329 non-null    object
 13  Battery Life (Days)  330 non-null    float64
 14  Bluetooth            355 non-null    object
 15  Display Size         333 non-null    object
 16  Weight               211 non-null    object
dtypes: float64(6), int64(2), object(9)
memory usage: 47.9+ KB

# Identifying Numerical and Categorical Data

Before proceeding with linear regression, it's crucial to understand the types of features in our dataset. Features can be broadly categorized into numerical (continuous) and categorical (discrete) data.

**Numerical Data**: Numerical features represent continuous data that can take on any value within a range. These features are typically quantitative and can be measured on a continuous scale. Examples include age, height, weight, and income.

['index',
 'Unnamed: 0',
 'Current Price',
 'Original Price',
 'Discount Percentage',
 'Rating',
 'Number OF Ratings',
 'Battery Life (Days)']

**Categorical Data**: Categorical features represent discrete data that fall into specific categories or groups. These features are typically qualitative and can take on a limited number of distinct values. Examples include gender, marital status, and occu

['Brand',
 'Model Name',
 'Dial Shape',
 'Strap Color',
 'Strap Material',
 'Touchscreen',
 'Bluetooth',
 'Display Size',
 'Weight']pation.

We can use the Pandas library to identify numerical and categorical features in our dataset.

In [16]:
numerical_data = [feature for feature in train_df.columns if train_df [feature].dtype != 'object']

In [17]:
continous_data = [feature for feature in train_df.columns if train_df [feature].dtype == 'object']

In [18]:
numerical_data

['index',
 'Unnamed: 0',
 'Current Price',
 'Original Price',
 'Discount Percentage',
 'Rating',
 'Number OF Ratings',
 'Battery Life (Days)']

In [19]:
continous_data

['Brand',
 'Model Name',
 'Dial Shape',
 'Strap Color',
 'Strap Material',
 'Touchscreen',
 'Bluetooth',
 'Display Size',
 'Weight']

In [20]:
train_df[numerical_data].describe()

,index,Unnamed: 0,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
count,360.000000,360.000000,354.000000,304.000000,304.000000,356.000000,315.000000,330.000000
mean,222.702778,222.702778,12514.378531,14415.835526,47.955347,4.027528,10671.815873,14.181970
std,130.632905,130.632905,16914.978666,15613.457236,24.696899,0.556828,27575.956948,7.661878
min,0.000000,0.000000,1199.000000,1669.000000,-79.688436,1.000000,1.000000,0.750000
25%,111.750000,111.750000,2126.000000,5999.000000,33.177427,3.900000,55.000000,8.000000
50%,222.500000,222.500000,3999.000000,7994.500000,53.068408,4.100000,830.000000,17.500000
75%,336.250000,336.250000,17367.250000,17996.000000,66.677780,4.300000,7576.500000,22.000000
max,448.000000,448.000000,98990.000000,96390.000000,91.004550,5.000000,275607.000000,22.000000

In [21]:
#checking corealtion of the data

train_df[numerical_data].corr()

,index,Unnamed: 0,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
index,1.000000,1.000000,-0.100146,-0.084262,-0.123792,-0.247504,-0.187509,0.371223
Unnamed: 0,1.000000,1.000000,-0.100146,-0.084262,-0.123792,-0.247504,-0.187509,0.371223
Current Price,-0.100146,-0.100146,1.000000,0.971497,-0.602668,0.397179,-0.195773,0.030352
Original Price,-0.084262,-0.084262,0.971497,1.000000,-0.479494,0.325818,-0.180650,-0.132527
Discount Percentage,-0.123792,-0.123792,-0.602668,-0.479494,1.000000,-0.191073,0.235221,-0.011792
Rating,-0.247504,-0.247504,0.397179,0.325818,-0.191073,1.000000,0.085250,-0.102289
Number OF Ratings,-0.187509,-0.187509,-0.195773,-0.180650,0.235221,0.085250,1.000000,0.009617
Battery Life (Days),0.371223,0.371223,0.030352,-0.132527,-0.011792,-0.102289,0.009617,1.000000

In [22]:
#skeness of the data
train_df[numerical_data].skew()

index                  0.012368
Unnamed: 0             0.012368
Current Price          2.301689
Original Price         2.734265
Discount Percentage   -0.983632
Rating                -1.589043
Number OF Ratings      5.467630
Battery Life (Days)   -0.190298
dtype: float64

# Data Profiling

Data profiling is a crucial step in the data analysis process that involves examining and summarizing the characteristics of a dataset. It provides valuable insights into the data distribution, missing values, correlations, and other patterns, helping to understand the underlying structure and quality of the dataset.

## Using Pandas Profiling

We will utilize the `pandas_profiling` library to generate a comprehensive report on our dataset. This report will include various statistics, visualizations, and insights to facilitate our understanding of the data.

```python
import pandas_profiling

# Perform Pandas Profiling
profile = train_df.profile_report()

# Save the report to a file
profile.to_file("data_profile_report.html")

In [23]:
!pip install h5py
!pip install typing-extensions
!pip install wheel

Requirement already satisfied: h5py in c:\users\banda\anaconda3\lib\site-packages (3.9.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\banda\anaconda3\lib\site-packages (from h5py) (1.23.5)
Requirement already satisfied: typing-extensions in c:\users\banda\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: wheel in c:\users\banda\anaconda3\lib\site-packages (0.41.2)

In [ ]:
!pip install pandas-profiling
!pip install ipywidgets

Requirement already satisfied: pandas-profiling in c:\users\banda\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.9.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.5.3)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (3.6.3)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.10.14)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (6.0.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (3.1.3)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (2.1.3)
Requirement already satisfied: visions==0.7.4 in c:\users\banda\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.23.5)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (0.12.4)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (2.31.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (4.64.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\banda\anaconda3\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\banda\anaconda3\lib\site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\banda\anaconda3\lib\site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling) (3.1)
Requirement already satisfied: imagehash in c:\users\banda\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\banda\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (10.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\banda\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\banda\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\banda\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\banda\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\banda\appdata\roaming\python\python311\site-packages (from matplotlib>=3.2.0->pandas-profiling) (24.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\banda\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\banda\appdata\roaming\python\python311\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\banda\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\banda\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\banda\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\banda\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\banda\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\banda\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2024.2.2)
Requirement already satisfied: colorama in c:\users\banda\appdata\roaming\python\python311\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\banda\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\banda\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.5.0)

In [ ]:
# import pandas_profiling
import ydata_profiling as profile

In [ ]:
profile = train_df.profile_report()
# # profile.ProfileReport(train_df)

In [ ]:
profile.to_file("data_profile_report.html")

# Data Visualization: Univariate and Multivariate Analysis

Data visualization is an essential tool for understanding the distribution and relationships within a dataset. In this section, we'll explore both univariate (analysis of single variables) and multivariate (analysis of relationships between multiple variables) visualization techniques.

## Univariate plots
- histograms
- density Plots
- box and whisker plots

## Multivariate plots
- coorelation matrix plot
- scatter plot matrix

In [ ]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
numerical_data.remove('index')

In [ ]:
numerical_data.remove('Unnamed: 0')

In [ ]:
numerical_data

In [ ]:
fig , axes = plt.subplots(nrows=2 , ncols=3 , figsize=(14,10))

for i , coll in enumerate(numerical_data):
    row = i // 3
    col = i % 3
    ax = axes[row , col]
    sns.histplot(data=train_df[coll],ax=ax,kde=True)

plt.show

In [ ]:
fig , axes = plt.subplots(nrows=2 , ncols=3 , figsize=(14,10))

for i , coll in enumerate(numerical_data):
    row = i // 3
    col = i % 3
    ax = axes[row , col]
    sns.boxplot(data=train_df[coll],ax=ax)
fig.tight_layout()
plt.show

In [ ]:
sns.pairplot(train_df)
plt.show()

In [ ]:
sns.heatmap(train_df.corr())
plt.show()

# Feature Engineering

Feature engineering is a crucial step in the machine learning pipeline that involves creating new features or transforming existing ones to enhance the performance of predictive models. In this section, we'll explore various techniques for feature engineering.

## Handling Missing Values

Dealing with missing values is essential as many machine learning algorithms cannot handle them. There are several strategies for handling missing values:

- **Imputation**: Replace missing values with a suitable statistic such as mean, median, or mode.
- **Deletion**: Remove rows or columns with missing values if they are insignificant or too many.

In [ ]:
# lib importing
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
train_df.head()

In [ ]:
df.shape , train_df.shape , test_df.shape

In [ ]:
# removing unnamed and index
train_df.drop(['df_index' , 'Unnamed: 0'], axis = 1 , inplace=True)

In [ ]:
#checking null values
train_df['Display Size'].isna().sum()

In [ ]:
train_df['Display Size'].fillna('0.0 inches' , inplace = True)

In [ ]:
train_df['Display Size'].isna().sum()

In [ ]:
train_df['Display Size'].apply(lambda x : float(x.split()[0]))

In [ ]:
# for weight data
train_df['Weight'].isna().sum()

In [ ]:
train_df['Weight'].value_counts()

In [ ]:
re.findall('\d+' , '20 - 35 g ')

In [ ]:
cal = sum([int(x) for x in re.findall('\d+' , '20 - 35 g ')]) / 2
train_df['Weight'].replace ('20 - 35 g', cal , inplace = True)

In [ ]:
cal = sum([int(x) for x in re.findall('\d+' , '35 - 50 g ')]) / 2
train_df['Weight'].replace ('35 - 50 g', cal , inplace = True)

In [ ]:
cal = sum([int(x) for x in re.findall('\d+' , '50 - 75 g ')]) / 2
train_df['Weight'].replace ('50 - 75 g', cal , inplace = True)

In [ ]:
train_df['Weight'].replace('75g +' , float(re.findall('\d+' , '75g')[0]) , inplace = True)

In [ ]:
train_df['Weight'].replace('<= 20 g' , float(re.findall('\d+' , '<= 20 g')[0]) , inplace = True)

In [ ]:
train_df['Weight'].value_counts()

In [ ]:
train_df.info()

In [ ]:
train_df.head()

In [ ]:
train_df['Discount Price'] = (train_df['Original Price'] * (-train_df['Discount Percentage']))/100

In [ ]:
train_df.drop(['Discount Percentage'], axis = 1 , inplace = True)

In [ ]:
train_df.shape

## Numerical Data

In [ ]:
numerical_col = [feature for feature in train_df.columns if train_df[feature].dtype == np.float64]

In [ ]:
numerical_col

In [ ]:
train_df[numerical_col].head()

In [ ]:
fig , axes = plt.subplots(nrows=3 , ncols=3 , figsize=(14,10))

for i , coll in enumerate(numerical_col):
    row = i // 3
    col = i % 3
    ax = axes[row , col]
    sns.kdeplot(data=train_df[coll],ax=ax , fill=True)
fig.tight_layout()
plt.show

In [ ]:
fig , axes = plt.subplots(nrows=3 , ncols=3 , figsize=(14,10))

for i , coll in enumerate(numerical_col):
    row = i // 3
    col = i % 3
    ax = axes[row , col]
    sns.boxplot(x=train_df[coll],ax=ax )
fig.tight_layout()
plt.show

In [ ]:
def remove_outliers_IQR(data,col):
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bond = Q1 - 1.5 * IQR
    upper_bond = Q3 + 1.5 * IQR
    return data[(data[col] > lower_bond) & (data[col] < upper_bond)]

In [ ]:
train_df.columns

In [ ]:
train_df.shape

In [ ]:
import_col = [ 'Current Price', 'Original Price', 'Rating', 'Number OF Ratings', 'Display Size' ]

In [ ]:
for col in import_col:
    train_df = remove_outliers_IQR(train_df , col)

In [ ]:
for col in numerical_col:
    print(col)
    train_df[col].fillna(train_df[col].median(), inplace = True)

In [ ]:
train_df[numerical_col].isna().sum()

In [ ]:
train_df.shape

In [ ]:
train_df.isna().sum()

In [ ]:
# sklearn
!pip install scikit-learn
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
data = scaler.fit_transform(train_df[numerical_col[: -1]])

In [ ]:
data

In [ ]:
data = pd.DataFrame(data,columns=numerical_col[:-1])

In [ ]:
data.head()

In [ ]:
data.shape , train_df.shape

In [ ]:
train_df.drop(numerical_col[:-1], axis=1,inplace=True)

In [ ]:
train_df.head()

In [ ]:
train_df = pd.concat([train_df,data], axis=1)

In [ ]:
train_df.head()

In [ ]:
train_df[numerical_col]

## Categorial Data

In [ ]:
# data_path = './data/smartwatches.csv'
# df = pd.read_csv(data_path)
# df.drop_duplicates(inplace=True)

In [ ]:
# train_df = df.copy()

In [ ]:
# df.shape , train_df.shape

In [ ]:
train_df.shape

In [ ]:
categorical_col = [feature for feature in train_df.columns if train_df[feature].dtype == 'object' ]

In [ ]:
categorical_col

In [ ]:
train_df [categorical_col].head()

In [ ]:
train_df['Bluetooth'].value_counts()

In [ ]:
categorical_col.remove('Bluetooth')

In [ ]:
from scipy.stats import f_oneway

In [ ]:

for col in categorical_col:
    CategoryGroupLists = train_df.groupby(col)['Discount Price'].apply(list)
    AnovaResults = f_oneway(*CategoryGroupLists)
    print(col, ': ', 'P-Value for anova is : ', AnovaResults[1])

In [ ]:
imp_col = ['Brand', 'Model Name', 'Dial Shape', 'Strap Material']

In [ ]:
train_df[imp_col].head()

In [ ]:
train_df[imp_col].isna().sum()

In [ ]:
for col in imp_col[1:]:
    train_df[col].fillna('other', inplace=True)

In [ ]:
brand = pd.get_dummies(train_df['Brand'], drop_first=True)

In [ ]:
model_name  = pd.get_dummies(train_df['Model Name']).drop(['other'], axis=1)
dial_shape = pd.get_dummies(train_df['Dial Shape']).drop(['other'], axis=1)
strap_material = pd.get_dummies(train_df['Strap Material']).drop(['other'], axis=1)

In [ ]:
imp_df = pd.concat([brand, model_name, dial_shape, strap_material], axis=1)

In [ ]:
imp_df.head()

In [ ]:
train_df[numerical_col].isna().sum()

In [ ]:
new_df = pd.concat([train_df[numerical_col], imp_df], axis=1)

In [ ]:
new_df.head()

In [ ]:
new_df.isna().sum()

In [ ]:
new_df.to_csv('./data/clean.csv', index=False)

# Model Building

Model building is the process of training a machine learning model on the training data and evaluating its performance on the testing data.

In [ ]:
df.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.drop('Discount Percentage', axis=1)
y = df ['Discount Percentage']

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size=0.2 , random_state = 42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lr_model = LinearRegression()
lr_model.fit(X_train , y_train)
y_pred = lr_model.predict(X_test)

res = r2_score(y_test , y_pred)
print(res)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train , y_train)
y_pred = dt_model.predict(X_test)
res = r2_score(y_test , y_pred)
print(res)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()
rf_model.fit(X_train , y_train)
y_pred = rf_model.predict(X_test)
res = r2_score(y_test , y_pred)
print(rest)

In [ ]:
import xgboost as xgb

model = xgb.XGBRegressor()
model.fit(X_train , y_train)
y_pred = model.predict(X_test)
res = r2_score(y_test , y_pred)
print(res)

In [ ]:
# cross validation

In [ ]:
from sklearn.model_selection import cross_val